#cataloguegrid{
    overflow-x: hidden;
    display:grid;
    width: 98.7vw;
    grid-template-columns: 15% 85%;
    grid-template-rows: 15vh auto auto auto;
    grid-template-areas: 
    'hd hd'
    'fl sok'
    'fl sek'
    'ft ft'
    ;
}
aside{
    grid-area: fl;
    border-right-width: 2px ;
    border-right-color: black;
    border-right-style: solid;
    padding: 2%;
    
}
#sokning{
    grid-area: sok;
    margin-left: 1%;
}
section{
    grid-area: sek;
}