#sokning{
    grid-area: sok;
    display: flex;
    align-items: center;
}
#sokning h4{
    margin-left: 1%;
}
aside ol li img{
    width:13px;
}

section{
    border-top-width: 2px;
    border-top-color: black;
    border-top-style:solid;
    grid-area: sek;
    overflow-x: scroll;
    display:flex;
    flex-direction: row;
}

.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    height:fit-content;
    overflow-x: hidden;
}

.card img{
    width: 80%;
    align-self: center;
    border-color: black;
    border-radius: 8%;
    border-style: solid;
}

.boxes img{
    width: 12px;
    height: 12px;
    border-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

h3{
    grid-area: h3;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-width: 2px ;
    border-right-color: black;
    border-right-style: solid;
}

@media screen and (min-width: 501px){
    #cataloguegrid{
        overflow-x: hidden;
        display:grid;
        width: 98.7vw;
        grid-template-columns: auto auto;
        grid-template-rows: 22vh 10vh auto auto;
        grid-template-areas: 
        'hd hd'
        'h3 sok'
        'fl sek'
        'ft ft'
        ;
    }
    aside{
        grid-area: fl;
        border-right-width: 2px ;
        border-right-color: black;
        border-right-style: solid;
        padding: 5px;
    }
    .card{
        display: flex;
        background-color: #d87093;
        flex-direction:column;
        min-width: 22vw;
        height:auto;
        margin: 1%;
        padding: 1%;
        border-color: black;
        border-radius: 2%;
        border-style: solid;
    }
}

@media screen and (max-width: 500px){
    #cataloguegrid{
        overflow-x: hidden;
        display:grid;
        width: 98.7vw;
        grid-template-columns: 100%;
        grid-template-rows: 22vh 11vh 8vh auto auto auto;
        grid-template-areas: 
        'hd'
        'sok'
        'h3'
        'fl'
        'sek'
        'ft'
        ;
    }
    .appear{
        left: 0;
        position:unset;
    }
    aside{
        grid-area: fl;
        border-right-width: 2px ;
        border-right-color: black;
        border-right-style: solid;
        padding: 5px;
        display: flex;
        height: fit-content;
        width: 100vw;
        position: fixed;
        top: 37vh;
        left: -120vw;
        z-index: 10;
    }
    .card{
        display: flex;
        background-color: #d87093;
        flex-direction:column;
        min-width: 75vw;
        height:auto;
        margin: 1%;
        padding: 1%;
        border-color: black;
        border-radius: 2%;
        border-style: solid;
    }
    
    .drop-button{
        cursor: pointer;
        display: inline;
    }


}
/*
                <div class="boxes">
            
                    <p>1: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>2: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>3: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>7: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>8: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>9: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>13: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>15: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>16: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>17: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>19: </p> <img src="img/checkbox.png" alt="checkad box">
                    <p>20: </p> <img src="img/checkbox.png" alt="checkad box">
                    </div>
*/