#quizgrid{
    overflow-x: hidden;
    display:grid;
    width: 98.7vw;
    grid-template-columns: 100%;
    grid-template-rows: 22vh auto auto auto auto auto auto;
    grid-template-areas: 
    'hd'
    'it'
    'f1'
    'f2'
    'f3'
    'rs'
    'ft'
    ;
}

#slider{
    width:50%;
    -webkit-appearance: none;
    appearance: none;
    background:whitesmoke;
    outline-color: #575a5e;
    outline-style: solid;
    border-radius: 5px;
}
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: #d87093;
    width: 25px;
    height: 25px;
    border-radius: 5px; 
    background:#d87093;
    cursor: pointer;
}
#slider::-moz-range-thumb  {
    -webkit-appearance: none;
    appearance: none;
    background: #d87093;
}
#q1{
    grid-area: f1;
}
#q2{
    grid-area: f2;
}
#q3{
    grid-area: f3;
}


#result h5{
    font-size: 200%;
    margin:5px;
}

.box h4{
    margin: 4px;
}


@media screen and (min-width: 501px){
    
    
    .punkter{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 50vw;
        padding: 0px 10px 0px 10px;
    }
    .punktimg img{
        width:25vw;
        height:fit-content;
    }
    .punktimg{
        display: flex;
        flex-direction: column;
        
    }
    
    .btlf{
        border-top-right-radius: 5vw;
        border-right-color: #575a5e;
        border-right-style: solid;
        border-top-color: #575a5e;
        border-top-style: solid;
        
    }
    .btrg{
        border-top-left-radius: 5vw;
        border-left-color: #575a5e;
        border-left-style: solid;
        border-top-color: #575a5e;
        border-top-style: solid;
        
    }
    .tplf{
        border-bottom-right-radius: 5vw;
        border-right-color: #575a5e;
        border-right-style: solid;
        border-bottom-color: #575a5e;
        border-bottom-style: solid;
        top:22vh;
    }
    .tprg{
        border-bottom-left-radius: 5vw;
        border-left-color: #575a5e;
        border-left-style: solid;
        border-bottom-color: #575a5e;
        border-bottom-style: solid;
        top:22vh;
    }
    #start{
        grid-area: it;  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #end{
        grid-area: rs;
        flex-direction: row;
        display: flex;
    }
}

@media screen and (max-width: 500px){
    .punkter{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 0px 10px 0px 10px;
    }
    
    #q3 div{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .punktimg img{
        width: 100vw;
        height: fit-content;
    }
    .punktimg{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    
    #intro{
        grid-area: it;  
    }
    #result{
        grid-area: rs;
    }
    #start{
        grid-area: it;  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #end{
        grid-area: rs;
        flex-direction: column;
        display: flex;
        justify-content: end;
    }
}

