#startgrid{
    overflow-x: hidden;
    display:grid;
    width: 98.7vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 60vh 60vh 30vh;
    grid-template-areas: 
    'hd hd'
    'skt bd'
    'skb bd'
    'a1 a2'
    'ft ft'
    ;
}

header{
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1% 0 1%;
    background-color: palevioletred;
}

.justimg{
    grid-area: bd;
    display:flex;
}
.justimg img{
    width: 50vw;
    height:fit-content;
    justify-content: left;
}

#sekt{
    align-items: center;
    grid-area: skt;
    display: flex;
    justify-content:center;
    size: 160%;

}
#sekb{
    grid-area: skb;
    display: flex;
    justify-content: space-evenly;
}
#sekb img{

    max-width: 32%;
    overflow-x: hidden;

}
#sponsor{
    grid-area: a1;
}

#summary{
    grid-area: a2;
}